* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrap {
  text-align: center;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  padding-top: 300px;
  background-size: cover;
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b1/Flag_tower,_Hanoi.jpg);
}

.stack {
  display: table-cell;
  vertical-align: bottom;
  height: 300px;
  width: 300px;
  padding-bottom: 20px;
  border: 1px solid black;
}

.tower {
  height: 90px;
  background-color: steelblue;
  border: 2px solid black;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.one {
  width: 90px;
}

.two {
  width: 180px;
}

.three {
  width: 270px;
}

.red {
  background-color: #50B;
}

.message{
  color: white;
  text-shadow: 2px 2px black;
  font-size: 200%;
}